@media only screen 
  and (min-device-width: 320px) 

  and (-webkit-min-device-pixel-ratio: 2) {
    .container{
      margin: 0;
      padding: 10px;
      height: 82vh;
    }

    .nav-item a {
      font-size: 1.15rem;
    }
    .info-container{
      background-color: rgba(17, 21, 28, 0.85);
      width: 100%;
      margin: 0;
    }

    .info-container p{
      padding: 5px;
    }

}