/* HTML Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utility Classes */
.container {
  display: flex;
  flex-direction: column;
  background-color: #788585;
  padding: 50px;
  margin: auto;
}

/* Font Classes */
.primary-font {
  color: red;
}

.strong-font{
  font-weight: 900;
}

.light-text{
  font-weight: 100;
}

/* Main Head */
#main-heading {
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
  margin-top: 5px;
}

/* Sub Head */
#class-h2 {
  text-align: center;
  padding: 1rem;
  margin-bottom: 20px;
  color: red;
}

/* Navbar */
#main-nav {
  display: flex;
  background: #453f3c;
  align-items: center;
  justify-content: center;
}

.nav-item {
  display: inline-block;
  padding: 20px;
  margin-right: 20px;
  background-color: rgba(121, 114, 112, 0.85);
  border-radius: 5px;
}

.nav-item .current {
  background-color: red;
}

.nav-item a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #fff;
}

/* Character Info Section */
#char-info {
  display: flex;
  flex-direction: column;
}

#char-form input {
  display: block;
  width: 33%;
  border-radius: 5px;
  border: 1px solid #333;
  padding: 5px;
  margin: 10px;
}

/* Randomize button */
#randomize-all {
  display: block;
  padding: 20px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  border-radius: 5px;
  background-color: #453f3c;
  color: #fff;
}

#randomize-all:hover {
  cursor: pointer;
  background-color: #333;
  color: #fff;
}

/* Info Section */
.info-container{
  align-items: center;
  justify-content: center;
  margin: auto;
  border: 1px solid #333;
  border-radius: 5px;
  width: 67%;
  background-color: #38302e;
  color: #ccdad1;
  padding: 10px;
}

.info-container p{
  padding: 10px;
  text-align: justify;
}

