/* HTML Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Utility Classes */
body {
  font-family: "Roboto", sans-serif;
  background-color: rgba(17, 21, 28, 1);
}
.container {
  display: flex;
  flex-direction: column;
  background-color: #364156;
  padding: 30px;
  margin: auto;
  height: auto;
  justify-content: space-evenly;
}

.flex-container{
  display: flex;
}

.form-container{
  display: flex;
  flex-direction: column;
  margin-right: 5px;
  flex: 1;
  background-color:rgba(17, 21, 28, 0.85);
  color: #fff;
  border-radius: 5px;
  padding: 5px;
}

/* Font Classes */
.primary-font {
  color: #fff;
}

.strong-font {
  font-weight: 900;
}

.light-text {
  font-weight: 100;
}

/* Main Head */
#main-heading {
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  margin-top: 5px;
  font-size: 2rem;
}

/* Sub Head */
#class-h2 {
  text-align: center;
  padding: 1rem;
  margin-bottom: 20px;
  color: #fff;
}

/* Navbar */
#main-nav {
  display: flex;
  background:  rgb(17, 21, 28);
  align-items: center;
  justify-content: center;
}

.nav-item {
  padding: 20px;
  list-style: none;
}

.nav-item .current {
  background-color: red;
}

.nav-item a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #fff;
}

/* Input Section */
.form-container input,
.form-container select{
  display: block;
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Character Info Section */
#char-info {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
}

#form-heading,
#info-heading{
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 5px;
}

#char-form input {
  display: block;
  width: 33%;
  border-radius: 5px;
  border: 1px solid #333;
  padding: 5px;
  margin: 10px;
}

/* Randomize button */
#randomize-all {
  display: block;
  width: 34%;
  padding: 20px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  background-color: rgba(17, 21, 28, 0.85);
  color: #fff;
}

#randomize-all:hover {
  cursor: pointer;
  background-color: rgba(66, 73, 85, 0.85);
  color: #fff;
}

/* Info Section */
.info-container {
  align-items: center;
  justify-content: center;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: rgba(17, 21, 28, 0.85);
  color: #ccdad1;
  font-size: 1.2rem;
  line-height: 1.4;
  margin-left: 5px;
  flex: 1;
}

.border{
  border: 1px #fff solid;
}

.info-container p {
  padding: 10px;
  text-align: left;
}

#stats-heading{
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 5px;
}

.hidden{
  display: none;
}

#char-stats{
  list-style: none;
  width: 34%;
  padding: 10px;
  margin: auto;
  margin-bottom: 10px;
  font-size: 1rem;
}

/* Footer */
footer {
  display: flex;
  background-color: rgba(17, 21, 28, 1);
  justify-content: space-evenly;
  height: 100%;
}

#social-container{
  display: flex;
  width: 67%;
  justify-content: space-evenly;
}

#twitter-link {
  text-decoration: none;
  color: rgb(29, 161, 242);
  padding-top: 20px;
  padding-bottom: 20px;
}

#twitter-link:hover{
  color: rgba(29, 161, 242, .85);
}
#email-link {
  text-decoration: none;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}
#email-link:hover{
  color: #EA4335;
}
